@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1678946392012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenda1:before {
  content: "\e65e";
}

.icon-zhinengsuanfa:before {
  content: "\e6c8";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-qiyetupu:before {
  content: "\e662";
}

.icon-wuguan:before {
  content: "\ec5f";
}

.icon-zhishitupu:before {
  content: "\e918";
}

.icon-mokuai:before {
  content: "\e63b";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-shujuyuan:before {
  content: "\e636";
}

.icon-dc-icon-rengongzhineng:before {
  content: "\e64b";
}

.icon-liucheng:before {
  content: "\e610";
}

.icon-zip:before {
  content: "\ea4a";
}

.icon-pocketkoudai:before {
  content: "\e6dc";
}

.icon-jichengsuanfa:before {
  content: "\e671";
}

.icon-bushu:before {
  content: "\e86d";
}

.icon-changjing:before {
  content: "\e673";
}

.icon-icon_xinyong_xianxing_jijin-265:before {
  content: "\e669";
}

